<table>
  <tr>
    <td style="border-color: black;">Date</td>
    <td>Libelle</td>
    <td>Montant</td>
    <td>Sens</td>
    <td>Url image</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="../../assets/resources/ajouter.PNG" width="20" height="20" style="cursor: pointer;"><img src="../../assets/resources/supprimer.PNG" width="20" height="20" style="cursor: pointer; margin-left: 6px;"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="../../assets/resources/ajouter.PNG" width="20" height="20" style="cursor: pointer;"><img src="../../assets/resources/supprimer.PNG" width="20" height="20" style="cursor: pointer; margin-left: 6px;"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="../../assets/resources/ajouter.PNG" width="20" height="20" style="cursor: pointer;"><img src="../../assets/resources/supprimer.PNG" width="20" height="20" style="cursor: pointer; margin-left: 6px;"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="../../assets/resources/ajouter.PNG" width="20" height="20" style="cursor: pointer;"><img src="../../assets/resources/supprimer.PNG" width="20" height="20" style="cursor: pointer; margin-left: 6px;"></td>
  </tr>
</table>


<style>
  table,
td {
border: 0.1px solid #333;
border-color: black;
}

thead,
tfoot {
background-color: #333;
color: #333;
}

  </style>
